.footer-gradient {
    background: linear-gradient(
        107deg,
        rgba(42, 159, 255, 0.06) 16.25%,
        #2c23e8 106.44%
      ),
      #1b1b35;
  }
  /* <li>Laravel Development <span className="hidden sm:inline">Services</span></li>
                    <li>React JS Development <span className="hidden sm:inline">Services</span></li>
                    <li>AWS Development <span className="hidden sm:inline">Services</span></li>
                    <li>Flutter <span className="hidden sm:inline">App</span> Development</li>
                    <li>Node Js Development <span className="hidden sm:inline">Services</span></li>
                    <li>React Native <span className="hidden sm:inline">Services</span></li>
                    <li>Django development <span className="hidden sm:inline">Services</span></li>
                    <li>Python development <span className="hidden sm:inline">Services</span></li> */
  /* .footer-header-bg{
    background: 
    url("../../assets/images/footer_bg.png"),
      linear-gradient(109deg, #2A9FFF -8.12%, #2C23E8 83.86%);
    background-size: cover;
    background-repeat: no-repeat; 
    z-index: 10;
    position: relative;
    width: 100%;
  } */