@import "tailwindcss";




@theme {

   /* Primary & Secondary */
  --color-primary: #335fff;
  --color-secondary: #2c23e8;
  
  /* Accent Colors */
  --color-accent-green: #28b673;
  --color-accent-yellow: #ffd333;
  
  /* Functional & BG */
  --color-dark-bg: #1b1b35;
  --color-functional: #cb264d;
  --color-functional-light: #ff744d;
  --color-light-bg: #f0f4ff;
  
  /* Text Colors */
  --color-text-primary: #24262b;
  --color-text-secondary: #3d4048;
  --color-text-disabled: #c4c7ce;
  
  /* Gradient Colors */
  --color-gradient-start: #335fff;
  --color-gradient-end: #2c23e8;
  
  /* breakpoint */
  --breakpoint-sm:640px;
   --breakpoint-md:768px;
   --breakpoint-lg: 1025px;
   --breakpoint-xl:1280px;
   --breakpoint-2xl: 1536px;
   --breakpoint-3xl: 1791px;
 
}

body {
  font-family: var(--font-inter);
  font-optical-sizing: auto;
  font-style: normal;
  color: var(--color-text-primary);
  margin: 0;
  padding: 0;
  
}

.h1-heading{
  @apply text-3xl  md:text-5xl lg:text-6xl xl:text-6xl 2xl:text-7xl;
}


.h2-heading{
  @apply text-2xl md:text-4xl lg:text-4xl xl:text-4xl 2xl:text-5xl 3xl:text-5xl;
}

.h2-description{
  @apply text-sm md:text-lg xl:text-lg 2xl:text-2xl 3xl:text-2xl leading-relaxed text-text-secondary;
}

.text-gradient-primary{
  background: linear-gradient(163deg,rgba(42, 159, 255, 1) 0%, rgba(44, 35, 232, 1) 67%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.bg-primary-button{
    background: linear-gradient(163deg,rgba(42, 159, 255, 1) 0%, rgba(44, 35, 232, 1) 67%);
}

/* by yash */
.section-padding-y{
  @apply py-8 sm:py-10 md:py-12 lg:py-16 xl:py-20 2xl:py-24;
}
.section-padding-y-v2{
  @apply py-4 sm:py-6 md:py-8 lg:py-12 xl:py-16 2xl:py-20;
}


.px-wrapper{
  @apply px-4 sm:px-6 md:px-8 lg:px-12 xl:px-16 2xl:px-20 ;
}
.px-wrapper-v2{
  @apply px-3 sm:px-3 md:px-6 lg:px-9 xl:px-12 2xl:px-[72px] 3xl:px-40;
}

/* Fade-in animation for smooth transitions */
@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(1px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in {
  animation: fade-in 0.5s ease-in-out;
}