@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(var(--translate-x));
  }
}

.animateSlide {
  animation: slide 15s linear infinite;
}

/* Pause animation on hover */
.animateSlide:hover {
  animation-play-state: paused;
}